<p id="notice"><%= notice %></p>

<h1>Listing Crawl Directories</h1>

<table>
  <thead>
    <tr>
      <th>path</th>
    </tr>
  </thead>

  <tbody>
    <% @crawl_directories.each do |crawl_directory| %>
      <tr>
        <td><%= crawl_directory.path %></td>
        <td><%= link_to 'Show', crawl_directory %></td>
        <td><%= link_to 'Destroy', crawl_directory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crawl directory', new_crawl_directory_path %>
