<%= provide(:title, "Crawl directories") %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Crawl directories</h1>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Path</th>
          <th>Videos</th>
          <th>Destroy</th>
        </tr>
        </thead>

        <tbody>
        <% @crawl_directories.each do |crawl_directory| %>
            <tr>
              <td><%= link_to crawl_directory.path, crawl_directory %></td>
              <td><%= crawl_directory.videos.active.count %></td>
              <td><%= link_to 'Destroy', crawl_directory, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <%= link_to 'New Crawl directory', new_crawl_directory_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>
