<%= provide(:title, "Crawl directory #{@crawl_directory.path}") %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Show crawl directory</h1>
  <table class="table table-bordered">
    <tr>
      <th>path</th>
      <td><%= @crawl_directory.path %></td>
    </tr>
    <tr>
      <th>active videos</th>
      <td><%= @crawl_directory.videos.active.count %></td>
    </tr>
    <tr>
      <th>deleted videos</th>
      <td><%= @crawl_directory.videos.deleted.count %></td>
    </tr>
    <tr>
      <th>crawl status</th>
      <% case(@crawl_directory.crawl_job_status)
           when "not_running" %>
          <td>not running</td>
      <% when "queued" %>
          <td>job queued</td>
      <% when "running" %>
          <td>job running</td>
      <% else raise %>
      <% end %>
    </tr>
  </table>
  <% if @crawl_directory.crawl_job_status == "not_running" %>
    <p><%= button_tag "Execute crawl", class: "btn btn-primary" %></p>
  <% end %>
  <%= link_to 'Back', crawl_directories_path, class: "btn btn-primary" %>
</div>
